html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  height: 100%;
  font-family: "Poppins", sans-serif;
  letter-spacing: -0.4px;
  background-color: #ffffff;
}
td {
  width: 50%;
  height: 100%;
}
.myimage {
  background-image: url("photos/satyakinkohli_display.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}
table {
  width: 100%;
  height: 100%;
}

.myname {
  width: 100%;
  text-align: center;
  font-size: 60px;
  color: #333333;
  font-weight: 700;
}

.mypassion {
  width: 100%;
  text-align: center;
  color: #a3a3a3;
  font-size: 17px;
  letter-spacing: 0px;
  line-height: 30px;
  font-weight: 300;
}

.mysocials {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.socialicon {
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #333333;
  transition: background-color 0.1s linear;
}

.fa-linkedin-in:hover {
  background-color: #0073b0;
}

.fa-facebook-f:hover {
  background-color: #4267b2;
}

.fa-youtube:hover {
  background-color: #ff0000;
}

.fa-github:hover {
  background-color: #000000;
}

.fa-medium-m:hover {
  background-color: #000000;
}

.fa-envelope:hover {
  background-color: #4285f4;
}

@media screen and (max-width: 1000px) {
  .hideimage {
    display: none;
  }
  .contenttd {
    width: 100%;
  }
  .myname {
    font-size: 100px;
    line-height: 170px;
  }
  .mypassion {
    margin-top: 80px;
    font-size: 44px;
    width: 70%;
    line-height: 60px;
    margin-left: auto;
    margin-right: auto;
    content: "Hello";
  }
  .mypassion span {
    display: none;
  }
  .mypassion:after {
    content: "Android Developer \A Web Developer \A Open-source enthusiast";
    white-space: pre-wrap;
    color: #a3a3a3;
  }
  .mysocials {
    margin-top: 70px;
  }
  .socialicon {
    height: 80px;
    width: 80px;
    line-height: 80px;
    font-size: 40px;
  }
}
